// =================================================================
// ICONS Mixins
//
// Helpers which make background-image svg icons easy in most common use cases.
// Works with postcss-svgicon.
//
// See icons.readme.md for details.
// =================================================================


$icon-transition-speed: 300ms !default;
$icon-default-color: #000 !default;
$icon-default-size: 1em !default;
$icon-default-position: center center !default;

// base properties for all icons
%icon-shared {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: $icon-default-position;
	background-size: $icon-default-size;
	opacity: 1;
	transform: rotate(0);
	transform-origin: $icon-default-position;

	transition: background-color $icon-transition-speed, transform $icon-transition-speed, opacity $icon-transition-speed;
}

// An icon helper with no defaults set.
// Use this to place modify an icon placed with @include icon()
@mixin icon-state(
	$icon: false,
	$size: false,
	$color: false,
	$position: false,
	$selector: "&",
	$_extend: false
) {

	// Spit  $color into components
	$color-base: if(length($color) >= 1, nth($color, 1), false);
	$color-hover: if(length($color) >= 2, nth($color, 2), false);
	$color-active: if(length($color) >= 3, nth($color, 3), false);

	// Base styles
	#{$selector}:before {
		@if $_extend {
			@extend %icon-shared;
		}

		@if ($icon and $color-base) {
			background-image: svgicon($icon, $color-base);
		}

		@if $size {
			background-size: $size;
		}

		@if $position {
			background-position: $position;
		}

		@content;
	}

	// Hover styles
	@if ($icon and $color-hover) {
		@if ($selector == "&") {
			&:hover:before,
			&:focus:before {
				background-image: svgicon($icon, $color-hover);
			}
		} @else {
			&:hover #{$selector}:before,
			&:focus #{$selector}:before {
				background-image: svgicon($icon, $color-hover);
			}
		}
	}

	// Active styles
	@if ($icon and $color-active) {
		@if ($selector == "&") {
			&:active:before {
				background-image: svgicon($icon, $color-active);
			}
		} @else {
			&:active #{$selector}:before {
				background-image: svgicon($icon, $color-active);
			}
		}
	}
}

// Just @mixin icon with a bunch of sensible defaults set
// Use this to place a new icon.
@mixin icon(
	$icon: tick,
	$size: $icon-default-size,
	$color: $icon-default-color false false,
	$position: $icon-default-position,
	$selector: "&",
	$_extend: true
) {
	@include icon-state(
		$icon: $icon,
		$size: $size,
		$color: $color,
		$position: $position,
		$selector: $selector,
		$_extend: $_extend
	) {
		@content;
	};
}

// Helper to hide an icon
@mixin icon-hide {
	&:before {
		display: none;
	}
}
